*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#parent{
    height:100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 100px 20% 100px;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-auto-flow: column;   just like fkex-direction */
}
#child1{
    background-color: crimson;
    border:2px solid white;
}
#child2{
    background-color: rgb(20, 117, 220);
    border:2px solid white;
}
#child3{
    background-color: rgb(220, 20, 160);
    border:2px solid white;
}
#child4{
    background-color: rgb(20, 220, 27);
    border:2px solid white;
}