*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
#parent1{
    width:400px;
    height:400px;
    background-color: aquamarine;
}
#child1{
    width:40%;
    height:40%;
    background-color: black;
}
#parent2{
    width:400px;
    height:400px;
    background-color: rgb(88, 84, 181);
}
#child2{
    width:10vmin;
    height:10vmax;
    background-color: rgb(189, 10, 10);
}
